@page "/"
@attribute [Authorize]
@inject ILoginService LoginService

<div class="p-4">
    <div class="container">
        <h1>Hi @LoginService.User.nomeUsuario</h1>
        <p>You're logged in with Blazor WebAssembly!!</p>
    </div>
</div>
